@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: all .4s ease-in-out;
}

body {
    background-color: #1B2029;
    color: #fff;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: #8880FE;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    text-align: center;
}

main .social-media {
    display: flex;
    align-content: center;
}

main .social-media a {
    text-decoration: none;
}

main .social-media img {
    width: 36px;
    margin-left: 3rem;
}

main .social-media a:first-child img {
    margin-left: 0;
}

main .alternative {
    margin-top: 1rem;
}

main .alternative span {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
}

main .alternative span::before, main .alternative span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    background: rgba(255, 255, 255, 0.3);
    bottom: 50%;
    right: 50px;
}
main .alternative span::after {
    left: 50px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form label span {
    font-size: 1rem;
    margin-top: 0.8rem;
}

main form input {
    background: #161923;
    width: 300px;
    height: 40px;
    padding: 0 0.5rem;
    margin-top: 0.6rem;
    outline: none;
    color: rgba(166, 166, 166);
    font-size: 0.9rem;
    border: 1px solid #040B18;
    border-radius: 0.5rem;
}

main form input[type='submit'] {
    cursor: pointer;
    width: 50%;
    margin-top: 3rem;
    border: none;
    border-radius: 32px;
    background-color: #6C63FF;
    color: #fff;
    font-size: 1rem;
    transition: all .3s ease-in-out;
}

main form input[type='submit']:hover {
    background-color: #5952D4;
}

section.images {
    width: 50vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4rem;
}

section.images img {
    width: 100%;
}

section.images .circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #E8CBC0, #636FA4);
    clip-path: circle(40% at right 80%);
    z-index: -1;
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    section.images img {
        width: 110%;
    }

    section.images .circle {
        clip-path: circle(35% at right 80%);
    }
}

@media only screen and (max-width: 900px) {
    section.images {
        display: none;
        visibility: hidden;
    }

    main {
        width: 100vw;
    }
}

@media only screen and (max-width: 450px) {
    main h1 {
        font-size: 1.8rem;
    }

    main .alternative span {
        font-size: 0.8rem;
    }

    main form label span {
        margin-top: 1.4rem;
    }

    main form label span, main form input[type='button'] {
        font-size: 0.8rem;
    }
}
